version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore(deps):"
      prefix-development: "chore(deps-dev):"
    assignees:
      - "mahiuddinalkamal"
